@font-face {
  font-family: 'AdihausDIN';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/AdihausDIN-Regular.ttf') format("truetype");
}
body {
  font-family: 'AdihausDIN', Helvetica, Arial, sans-serif;
  font-style: normal;
  margin: 0;
}
.white {
  color: white;
}